#game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
#game > .box {
  border: 1px solid gray;
  overflow: hidden;
  text-align: center;
}
#game > .box > img {
  min-width: 100%;
  min-height: 100%;
}

.hidden{
  display: none;
}